<a href="https://colab.research.google.com/github/param1707/Pandas/blob/main/(5)_HandleMissingData_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Handle missing data using replace function**

In [5]:
import pandas as pd
import numpy as np

In [4]:
filename = 'https://raw.githubusercontent.com/codebasics/py/master/pandas/6_handling_missing_data_replace/weather_data.csv'

df = pd.read_csv(filename)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

# **Replace value -99999 by NaN**

In [7]:
new_df = df.replace(-99999,np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

# **Replace Multiple values by passing it as a list**

In [9]:
new_df = df.replace([-99999,7],np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        NaN  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        NaN      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

# **Replace specific column with NaN values**

In [17]:
df
#type(df['event'][3])

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [18]:
new_df = df.replace({
    'temperature': -99999,
    'windspeed': -99999,
    'event': '0'
},np.NaN)

new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0    NaN
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0    NaN

# **Replace -99999 in temperature and windspeed column by Nan and 0 in event column with sunny**

In [20]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [22]:
new_df = df.replace({
  -99999 : np.NaN,
        '0':'Sunny'
})
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny

In [23]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

# **Replace Units entry such as F and MPH from the dataframe**

In [25]:
new_df = df.replace({
  32 : '32 F',
  6 : '6 MPH'
})
new_df

        day temperature windspeed  event
0  1/1/2017        32 F     6 MPH   Rain
1  1/2/2017      -99999         7  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017        32 F    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [26]:
new_df

        day temperature windspeed  event
0  1/1/2017        32 F     6 MPH   Rain
1  1/2/2017      -99999         7  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017        32 F    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [28]:
new_df_1 = new_df.replace('[A-Za-z]','',regex=True)
new_df_1

        day temperature windspeed event
0  1/1/2017         32         6
1  1/2/2017      -99999         7
2  1/3/2017          28    -99999
3  1/4/2017      -99999         7     0
4  1/5/2017         32     -99999
5  1/6/2017          31         2
6  1/6/2017          34         5     0

# **It replaces eevent string with also blank space so we can pass only the column by passing it as a dictionary**

In [32]:
new_df = new_df.replace({
    -99999:np.NaN,
    '0':'Sunny'
})
new_df

        day temperature windspeed  event
0  1/1/2017        32 F     6 MPH   Rain
1  1/2/2017         NaN         7  Sunny
2  1/3/2017          28       NaN   Snow
3  1/4/2017         NaN         7  Sunny
4  1/5/2017        32 F       NaN   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5  Sunny

In [34]:
new_df = new_df.replace({
    'temperature': '[A-Za-z]',
    'windspeed':  '[A-Za-z]'
},'',regex=True)
new_df

        day temperature windspeed  event
0  1/1/2017         32         6    Rain
1  1/2/2017         NaN         7  Sunny
2  1/3/2017          28       NaN   Snow
3  1/4/2017         NaN         7  Sunny
4  1/5/2017         32        NaN   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5  Sunny

# **Replace a list with another list of values**

In [35]:
df = pd.DataFrame({
    'Name':['param','aditya','shamith'],
    'score':['poor','average','excellent']
})

df

      Name      score
0    param       poor
1   aditya    average
2  shamith  excellent

In [36]:
new_df = df.replace(['poor','average','excellent'],[0,3,5])
new_df

      Name  score
0    param      0
1   aditya      3
2  shamith      5